body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

header {
    background: #030303;
    height: 150px;
    display: flex;
    align-items: center;
    width: 1920px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

.header ul li {
    display: inline-block;
    position: relative;
}

a {
    text-decoration: none;
    list-style: none;
    width: 85px;
    height: 26px;
    left: 0px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;

    letter-spacing: 2px;

    color: #FFFFFF;
}

nav.header ul {
    width: 775px;
    display: flex;
    justify-content: space-between;
}

img .logo {
    width: 199px;
    height: 33px;
}

main {
    position: relative;
}

.Welcome {
    width: 1920px;
    height: 842px;
    background: #030303;
}

.welcome_offer {
    position: relative;
    width: 598px;
    height: 388px;  
    padding-top: 150px;
    z-index: 2;
}

.welcome_text_1 {
    margin: 0;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* or 112% */
    
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.Welcome .wrapper {
    position: relative;
    height: 810px;
}

.welcome_text_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: 2px;
    
    color: #FFFFFF;
}

.welcome_button {
    position: absolute;
    width: 360px;
    height: 75px;
    left: 0px;
    bottom: 0px;

    border: 0;
    background: #710707;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.mona_lisa_portret {
    position: absolute;
    width: 1000px;
    height: 810px;
    left: 440px;
    top: 0px;
    z-index: 1;
}

.slider {
    position: absolute;
    width: 452px;
    height: 120px;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #030303;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 74px;
}

.welcome_slide_num {
    display: flex;
    justify-content: space-between;
    width: 76px;
    height: 40px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height, or 182% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.carousel_pagination {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.slide_pagination {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 8px;
}

.arrow_left {
    display: flex;
}

.arrow_right {
    display: flex;
}

.Virtual_tour {
    background: #FFFFFF;
    height: 1266px;
    width: 1920px;
}

.tour_content {
    width: 1440px;
    height: 1116px;
    margin-top: 75px;
}

.tour_main_title {
    width: 544px;
    height: 90px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.virtual_tour_rectangle {
    width: 1440px;
    height: 3px;
    background: #710707;
    border-radius: 0px;
    margin-top: 25px;
}

.tour_variants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.another_tour {
    width: 440px;
    height: 424px;
    margin-top: 75px;
}

.tour_image {
    width: 440px;
    height: 285px;
}

.tour_title {
    width: 252px;
    height: 35px;
    margin-top: 25px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #000000;
}

.view_360 {
    width: 165px;
    height: 26px;
    margin-top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    color: #000000;
}

.view_panorama {
    width: 240px;
    height: 21px;
    margin-top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;
}

.rectangle_div {
    width: 300px;
    height: 2px;
    margin-top: 10px;
    background: #710707;
    border-radius: 0px;
}

.Picture_explore {
    width: 1920px;
    height: 865px;

    background: #030303;
    border-radius: 0px;
}

.Picture_explore .section_frame {
    height: 715px;
    padding-top: 75px;
    position: relative;
}

.explore_main_title {
    width: 660px;
    height: 90px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.explore_rectangle_div {
    width: 660px;
    height: 3px;

    margin-top: 25px;
    margin-bottom: 75px;
    background: #710707;
    border-radius: 0px;
}

.explore_text {
    width: 645px;
    height: 77px;
    margin-top: 25px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */

    color: #FFFFFF;
}

.explore_picture_container {
    position: absolute;
    top: 90px;
    right: 0;
    width: 720px;
    height: 700px;
}

.explore_picture_container .picture_2 {
    position: absolute;
    top: 0;
    left: 0;
}

.explore_slider {
    position: absolute;
    right: 260px;
}

.Video_journey {
    width: 1920px;
    height: 1331px;
    background: #FFFFFF;
}

.Video_journey .section_frame{
    width: 1440px;
    margin-top: 75px;
}

.video_journey_title {
    display: flex;
    justify-content: space-between;
}

.video_journey_title .title_1 {
    width: 610px;
    height: 90px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.video_journey_title .title_2 {
    width: 720px;
    height: 90px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */

    align-items: center;

    color: #000000;
}

.video_frame {
    position: relative;
    width: 1440px;
    height: 735px;
    margin-top: 75px;
}

.video_frame img.video {
    display: block;
}

img.circle {
    position: absolute;
    top: 215px;
    left: 610px
}

img.triangle {
    position: absolute;
    top: 264.91px;
    left: 686.53px
}

.video_control_panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 85px;
    background: #000000;
    border-radius: 0px;
}

.progress_bar {
    position: relative;
}

.progress_bar_circle {
    position: absolute;
    top: 2px;
    right: 426px;
}

.video_control_panel .volume {
    position: relative;
    width: 38px;
    height: 31px;
}

.volume .volume_1 {
    position: absolute;
}

.volume .volume_2 {
    position: absolute;
    top: 10px;
    left: 24px;
}

.volume .volume_3 {
    position: absolute;
    top: 3px;
    left: 27px;
}

.expand {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 0px;
}

.expand img {
    position: absolute;
}

.expand_1 {
    top: 0;
    right: 0;
}

.expand_2 {
    top: 0;
    left: 0;
}

.expand_3 {
    bottom: 0;
    left: 0;
}

.expand_4 {
    bottom: 0;
    right: 0;
}

.volume_bar {
    position: relative;
}

.volume_bar_circle {
    position: absolute;
    top: 2px;
    left: 62px;
}

.video_recomendations {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.video_recomend_item {
    position: relative;
    width: 452px;
    height: 254px;
}

.video_title {
    position: absolute;
    top: 15px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 406px;
    height: 40px;
}

.video_title_text {
    width: 329px;
    height: 39px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    /* identical to box height, or 214% */
    
    align-items: center;    
    color: #FFFFFF;
}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4px;
    height: 16px;
}

.you_tube_icon_1 {
    position: absolute;
    top: 103px;
    left: 192px;
}

.you_tube_icon_2 {
    position: absolute;
    top: 116px;
    left: 219px;
}

.video_slider_pagination {
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 12px;
}