* {
    margin: 0px;
}

.nav > li {
    display: list-item;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 15px 10px 15px;
    text-align: '-webkit-match-parent';
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.seond-line__list > li {
    display: list-item;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 20px 10px 20px;
    line-height: 18,75px;
    text-align: '-webkit-match-parent';
}

.seond-line__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333333;
}

.top-line {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* position: absolute; */
    background-color: #efefef;
}

.top-line__menu {
    /* position: absolute; */
    height: 17px;
    margin: 17px auto 16px auto;
}

.second-line {
    /* position: absolute; */
    width: 100%;
    height: 149px;
    margin-top: 20px;
    /* left: 0px;
    top: 70px; */
    /* display: flex;
    justify-content: center; */
}

.second-line__main-menu {
    width: 100%;
    height: 19px;
    /* top: 200px; */
    position: relative;
    margin-top: 30px;
}

.second-line__head-menu {
    /* position: relative; */
    /* width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; */
    margin-bottom: 20px; 
}

.left-content > span {
    /* position: absolute; */
    width: 158px;
    height: 39px;
    margin: auto 20px;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
}

.left-content {
    text-align: center;
    display: flex;
}

.right-content {
    display: flex;
    align-items: center;
}

.right-content > span {
    width: 127px;
    height: 19px;
    left: 1178px;
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: auto 40px;
    color: #000000;
}

.right-content > button {
    padding: 12px 26px 13px 27px;
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    box-sizing: border-box;
    border-radius: 40px;
}

.divider {
    border: 1px solid #EFEFEF;
}

main {
    background-image: url("../images/Rectangle_2.png");
    width: 100%;
    /* height: 604px; */
    margin-top: 30px;
}

.sale {
    display: flex;
    height: 604px;
    align-items: center;
}

.group {
    width: 308px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-line__head-menu > .wrap {
    display: flex;
    justify-content: space-between;
}

.wrap {
    width: 1110px;
    margin: 0 auto;
    /* margin-bottom: 20px; */
}

.super__chair {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.stock__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.group > button {
    font-family: "Roboto", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 170px;
    height: 40px;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
}